.row-8{
    font-size: 0;
}

[class^='row-3'], [class^='row-12'] {
    font-size: 0;
}

.col{
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word; /* для наглядности */
    vertical-align: text-top;
}

.row-8 .col{
    width: 12.5%;
}

.row-12 .col{
    width: 8.33%;
}

.row-3 .col{
    width: 30%;
}

/*Float grid*/

[class^='fl-row-']:before, [class^='fl-row-']:after{
    content: '';
    display: block;
    clear: both;
}
.fl-col {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}


.fl-row-5 .fl-col{
    width: 20%;
}

.fl-row-4 .fl-col{
    width: 25%;
}