@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    /*!!!!!!!* настройки бекграунда*/
    background: #525d67 url(../image/Background.png) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    color: white;
}

#mainHeader{
    display: inline-block;
    padding-top: 50px;
    padding-left: 10%;
}

#nav{
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    padding-left: 30%;
}

#nav li{
    display: inline-block;
    font-family: "Lato Bold";

}

li a{
    text-decoration: none;
    font-size:16px;
    color: white;
    margin-right: 25px;
    margin-left: 25px;
}

header div{
    padding: 100px auto;
    text-align: center;
}

div p:first-of-type{
    padding-top: 200px;
    margin-bottom: 0;
    font-family: 'Myriad Pro';
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}

div p:last-of-type{

    font-size: 30px;
    margin: 0 auto;
    font-family: 'Myriad Pro';
    text-transform: uppercase;
}

div a{
    display: block;
    padding-top: 200px;
}

section1{
    display: block;
    min-height: 100vh;
    background-color: yellow;
}

#secondMenu li{
    display: inline-block;
}
