body{
    height: 100vh;
    width: 100vw;
    background: #ffff55;
}
.main{
    width: 500px;
    height: 500px;
    border:1px solid black;
    position: relative;
    background: white;
    font-size: 0;
}

.box{
    width: 100px;
    height: 100px;
    background: black;
    display: inline-block;
    margin: 10px;

}

#second{
    position: absolute;
    top: 10px;
    left: 10px;
    background: darkslategray;
}

#first{
    position: relative;
    z-index: 1;
}

#second:hover{
    z-index: 2;
}

#third{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}


#center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white;
}

#content{
    padding: 20px;
    background: orange;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#fifth{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
}

#screen{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);

}

#modal{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #ff0000;
    color: #ffffff;
}

.block1{
    width: 95vw;
    height: 100vh;
    background: lightblue;
    position: absolute;
    left: 5vw;
}

.block1 p{
    display: inline-block;
    width: 40%;
}

.block1 p:first-of-type{
    position: relative;
    left: 0;
    top: 0;
    width: 25vw;
    height: 100vh;
}

.block1 p:last-of-type{
    position: relative;
    right: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
}

