html * {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    margin: 0;
}

#logosvg .cls-3 {
    stroke: #ffffff;
    stroke-width: 2px;
    fill: none;
}

#logosvg .cls-4 {
    stroke: #f6f7fc;
    stroke-width: 2px;
    fill: none;
}

#logosvg .cls-5 {
    fill: #ffffff;
}

#footer-logosvg {
    width: 20px;
    height: 20px;
}

#footer-logosvg .cls-3 {
    stroke: #3c3c3c;
    stroke-width: 2px;
    fill: none;
}

#footer-logosvg .cls-4 {
    stroke: #3c3c3c;
    stroke-width: 2px;
    fill: none;
}

#footer-logosvg .cls-5 {
    fill: #3c3c3c;
}

.img-svg {
    width: 20px;
    height: 20px;
}

#scroll {
    stroke: #ffffff;
    stroke-width: 2px;
    fill: white;
}

.page1 {
    background: url("../img/hero-bg.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.article1 {
    width: 53vw;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    background-attachment: scroll;
}

.article1 * {
    display: block;
    background: none;
}

.icon1 {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    padding: 240px 0 90px;
}

.icon {
    width: 81px;
    height: 81px;
    display: block;
    padding-top: 50px;
    padding-bottom: 40px;
    margin: 0 auto;
}

h1 {
    font-family: "Lato Bold", sans-serif;
    font-size: 54px;
    color: white;
    padding-bottom: 52px;
    text-transform: uppercase;
}

.page1 span {
    font-family: "Lato Regular", sans-serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 240px;
}

.icon2 {
    width: 27px;
    height: 40px;
    margin: 0 auto;
}

.part1 {
    background: white;
    height: 58vh;
}

.part2 {
    height: 42vh;
    background: url("../img/services.png") no-repeat;
    background-size: cover;
}

.article2 {
    height: 58vh;
    width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 160px;
    font-family: "Lato Regular", sans-serif;
    font-size: 16px;
    position: relative;
}

.article3 {
    height: 42vh;
    width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 125px;
    color: white;
    font-family: latolight, sans-serif;
    font-size: 16px;
    position: relative;
}

h2 {
    font-family: "Lato Bold", sans-serif;
    font-size: 34px;
    padding-bottom: 45px;
    position: relative;
    top: -20px;
    display: block;
    width: 400px;
    background: white;
    left: 250px;
}

.article3 h2 {
    background: none;
}

.border1 {
    border: 2px solid black;
}

.border2 {
    border: 2px solid white;
    border-top: none;
    display: block;
    position: relative;
}

.border2:before {
    display: block;
    width: 250px;
    border: 1px solid white;
    content: "";
}

.border2:after {
    display: block;
    width: 250px;
    border: 1px solid white;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
}

.page3 {
    height: 130vh;
    background: white;
}

.article4 {
    width: 900px;
    height: 1180px;
    border: 2px solid black;
    margin: 120px auto;
    position: relative;
    text-align: center;
}

.article4 h1 {
    color: black;
    position: relative;
    top: -40px;
    left: 250px;
    display: block;
    width: 400px;
    background: white;
}

.article4 h3 {
    font-family: "Lato Bold", sans-serif;
    color: #696969;
    padding-bottom: 45px;
}

.article4 span {
    font-size: 14px;
    font-family: "Lato Regular", sans-serif;
    display: block;

    line-height: 25px;
}


.page4{
    height:85vh;
}

footer{
    height: 15vh;
    position: relative;
}

footer .article7{
    position: relative;
    top: 50px;
}

footer .icon{
    width: 40px;
    height: 40px;
    padding: 0;
}

footer *{
    display: inline-block;
    vertical-align: baseline;
}

footer span{
    vertical-align: middle;
    margin-bottom: 35px;
    margin-left: 40px;
}



