@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:300,400,400i,600i|Pacifico|Roboto+Mono&subset=cyrillic');

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/open_sans-webfont.woff2') format('woff2'),
    url('fonts/open_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p:nth-child(2){
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

p:nth-child(1){
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

p:nth-child(3){
    font-family: 'Roboto Mono', Arial, monospace
}

p:nth-child(4){
    font-family: 'open_sansregular', sans-serif;
    font-style: italic;
    font-size:20px;
    font-weight:700;
    color: #352bac;
    line-height:1.5;

}



