html{
    min-height: 100vh;
}

body{
    background: url("../img/mainBg.png")  no-repeat center;
    background-size: cover;

}

form{
    width: 460px;
    height: 470px;
    margin: 60px auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
}

header *{
    display: inline-block;
    vertical-align: middle;
}

header img{
    padding-right: 10px;
}

header h1{
    font-family: Aria;
    font-weight:bold;
    font-size:24px;
}

header{
    padding-bottom: 15px;
}

.info{
    font: 14px Arial regula;
    color: #b6b6b8;
    padding-bottom: 35px;
}

.info a{
    text-decoration: none;
    color: #ed89ac;
}

form input{
    font: 14px Arial regula;
    color: #b6b6b8;
    background: #f0f0f0;
    border-style: none;
    margin-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
}


.user *{
    display: inline-block;
    width: 190px;
    height: 40px;
}

.user .name{
    float: left;
}

.user .surname{
    float: right;
}

.email, .password{
    width: 400px;
    height: 40px;
    display: block;
    margin-bottom: 15px;
}

.send{
    width: 400px;
    height: 40px;
    display: block;
    margin-bottom: 15px;
    font: 18px Arial bold;
    color: #ffffff;
    background: #ea355a;
}

.footer{
    font: 12px Arial regular;
    color: #b6b6b8;
}

.footer a{
    text-decoration: none;
    color: #ed89ac;
}