section{
    text-align: center;
}

.main_section{
    background: darkblue;
    min-height: 100vh;
    color: white;
}

.section-2{
    background: white;
    min-height: 100vh;
    color: black;
}

.section_inner{
    max-width: 932px;
    margin: 0 auto;
}
.main_section:before{
    content: '';
    display: inline-block;
}

.logo{
    display: block;
    width: 94px;
    height: 94px;
    background: #ffffff;
    border-radius: 50%;
    margin: 56px auto 0;
}