@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400');
html {
    min-height: 100%;
}

body {
    margin: 0;
    background: url("img/bg.jpg") no-repeat;
    background-size: cover;
}
/*body:before {*/
    /*content: '';*/
    /*display: inline-block;*/
/*}*/
.header {
    width: 750px;
    margin: 0 auto;
    padding-top: 26px;
}
.menu, .header__menu-btn {
    float: right;
}
.header__menu-btn {
    display: inline-block;
    height: 13px;
    width: 22px;
    background: url("img/btn_menu.svg");
}
.menu {
    margin: -2px 50px 0 0;
    padding: 0;
    font: 300 12px 'Roboto', sans-serif;
}
.menu__item {
    display: inline-block;
    margin-right: 50px;
}
.menu__item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 150%;
}
/*.menu__item--active {*/
    /*text-decoration: underline;*/
/*}*/
.menu__item a:hover {
    border-bottom: 1px solid white;
}
.product {
    width: 750px;
    height: 430px;
    background: #fff;
    margin: 60px auto 0;
    position: relative;
}
.product-content {
    position: relative;
    height: 100%;
    z-index: 1;
}
.product:before, .product:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
}
.product:before {
    width: 110%;
    height: 90%;
    top: 5%;
    left: -5%;
}

.product:after {
    width: 120%;
    height: 80%;
    top: 10%;
    left: -10%;
}
.product-slider {
    width: 502px;
    background: #f4f4f4;
    height: 100%;
    float: left;
}
.product-slider-thumbnails {
    text-align: center;
}
.product-slider__img {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}
.product-info {
    position: relative;
    float: right;
    width: 248px;
    padding: 45px 32px;
    box-sizing: border-box;
    color: #000;
}
.product-info__close {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("img/btn_close.svg");
    position: absolute;
    top: 10px;
    right: 10px;
}
.product-info__label {
    padding: 5px;
    margin: 0;
    display: inline-block;
    font: 14px 'Roboto', sans-serif;
    text-transform: uppercase;
}
.product-info__label--new {
    background: #ffa60d;
    color: #fff;
}
.product-name {
    font: 24px 'Roboto Condensed', sans-serif;
    margin: 0;
}
.product-name__color--blue {
    color: #5e4fff;
}
